*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer{
    color: #c8bb97;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 840px;
    flex-shrink: 0;
}

.headerContainer h1{
    font-size: 2.9rem;
}

.headerContainer span{
    color: #689d69;
}

.selections{
display: flex;
justify-content: space-evenly;
font-size: 1.6rem;
}

@media (max-width:800px){
    .selections{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .headerContainer h1{
        display: flex;
        justify-content: center;
        font-size: 2.4rem;
    }

    .headerContainer{
        width: fit-content;
    }
}

 

 

/*Selections animations */
.selections a{
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    color: #c8bb97; 
}

.selections a:visited {
     color: inherit;
}

.selections a:hover{
    color: #689d69;
}

.selections a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #689d69;
    border-radius: 2px;
    transition: all .2s;
}


.selections a:hover::before{
    width: 100%;
}

.selections a.active::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #689d69;
    border-radius: 2px;
}


 
 
 
 
 