*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer{
    gap: 30px;
    color: #c8bb97;
    /*outline: green solid;*/
}

.headerContainer h1{
    font-size: 2.9rem;
}

.headerContainer span{
    color: #689d69;
}

.selections{
display: flex;
gap: 60px;
font-size: 1.6rem;
}

 



/*Selections animations */
.selections a{
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}

.selections a:visited {
     color: inherit;
}

.selections a:hover{
    color: #689d69;
}

.selections a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #689d69;
    border-radius: 2px;
    transition: all .2s;
}


.selections a:hover::before{
    width: 100%;
}

.selections a.active::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #689d69;
    border-radius: 2px;
}
 
 
 
 