*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
    font-family: 'Ubuntu';   /* language for whole application*/
}

 

.pageContainer{
    display: flex;
    margin-top: 40px;
    padding: 30px;
    gap: 30px;
    position: relative;
}

@media (max-width:800px){
 .pageContainer{
    padding: 20px;
    display: block;
    margin-top: 0px;
    padding-top: 10px;
    width: 100%;
 }
}

html {
    scrollbar-gutter: stable; /* Always show vertical scrollbar */
}

 

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    flex: 1 0 900px;
}

@media (max-width:800px){
    .leftSide{
        flex: 0;
        width: 100%;
        display: flex;
    }
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.rightSide{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    min-width: 170px;
}

@media (max-width:800px){
 .rightSide{
    display: none ;
    margin-right: 0;
    animation: slideUp 0.2s ease;  
 }
}
.displaySideBar{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    box-shadow: 0 8px 20px rgb(82, 81, 81);
    background-color: rgba(206, 202, 202, 0.2);  
    z-index: 1000;
    border-radius: 50%;
    margin-top: 40px;
}

@media(max-width:800px){
    .displaySideBar{
        display: flex;
    }
}

.Down svg{
    transform: rotate(180deg);
}
 
