pre[class*="language-"] {
  background: #27212e !important;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: .5em;
}

code[class*="language-"], 
pre[class*="language-"] {
  color: #fff !important;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  line-height: 1.5;
  tab-size: 2;
  text-shadow: none !important;
}

.token.tag { color: #74dfc4 !important; }
.token.punctuation { color: #c0caf5 !important; }
.token.attr-name { color: #bb9af7 !important; }
.token.property { color: #7dcfff !important; }
.token.attr-value { color: #9ece6a !important; }
.token.namespace { color: #f7768e !important; }
.token.string { color: #9ece6a !important; }

