*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBarContainer{
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: #c8bb97;
    max-width: 400px;
    width: 100%;
}

@media (max-width:800px){
 .sideBarContainer{
    max-width: fit-content;
 }
}

.searchBarContainer{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: #383838;
}

@media(max-width:800px){
    .searchBarContainer{
        width: 100%;
    }
}

.searchBarContainer:focus-within{
   background-color: rgba(106, 106, 106, 0.562);
   
}

.searchBarContainer svg {    
    background: transparent;
      transition: transform 0.2s;
}

.searchBarContainer:focus-within svg{
    transform: rotate(180deg);
}

 
.searchInput{
font-size: 1.5rem;
outline: none;
border: none;
background: transparent;
flex: 1;
color: #c8bb97;
}

.searchBarContainer svg{    
    background: transparent;
}

 
.tagsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}
.tagsContainer>a{
    background-color: #cc231c;
    padding: 3px 1rem;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.tagsContainer>a:hover{
    outline: #689d69 solid 2px;
}

.tagsContainer a.active{
background-color: #689d69;
}

.clearFilter{
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 10px;
     text-decoration: none;
     color: inherit;
}

.clearFilter>svg {
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.clearFilter:hover svg,
svg:hover {
  transform: rotate(1turn);
}

.bar{
    background-color: #5a5959;
    font-size: 1.3em;
    padding: 8px;
    border-radius: 3px;
   /* width: 90%;*/
}
.bar>div{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
  font-weight: 500;
}

.bar:hover{
     background-color: #706f6f;
}

.randomArticle{
    cursor: pointer;
    color: #c8bb97;
    text-decoration: none;
    display: flex;
    justify-content: center;
   
    gap: 10px;
}

.bar>div>a{
    margin-right: 20px;
}

 

 

