*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu';
    background-color: #f6f6f6;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:85vh;
}

.pageContainer>h1{
    color: #001b2e;
    font-size: 3.2em;
    margin-bottom: 80px;
}

.logForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: -5px;
}

.logForm> h1{
    font-size: 1.5em;
    color: #001b2e;;
}

 
.logInp{
    color: black;
    border-radius: 4px;
    font-size: 1.5em;
    padding: 8px;
    border: 1px solid black;
    font-weight: 400;
}
.logInp::placeholder{
    font-family: 'Ubuntu';
     color: black;
}

.logInp:hover{
    outline: 1px solid rgb(210, 0, 143)
}

.logInp:focus{
    outline: 2px solid rgb(221, 18, 228);
}

.logBTN{
    font-size: 1.6rem;
    background-color: #fd03;
    border: none;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
}


.loadingContainer,
.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px; /* Fixed height */
    justify-content: center;
     font-size: 1.6rem;
}

 
.errorContainer p{
    font-size: 1.6rem;
}

 


