*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ArticleContainer{
   background-color: #383838;

   width: 900px;
}

.ArticleContainer h1{
    color: #d79821;
    font-size: 3.5rem;
    line-height: 1.1;
}

.Top{
color: #777777;
display: flex;
flex-direction: column;
align-items: end;
gap: 10px;
}


.tags{
    display: flex;
    gap: 20px;
}
.tags>div{
 background-color: #cc231c; 
    padding: 3px 1rem;
  border-radius: 2px;
  font-size: 1rem;
}

.readTime{
    display: flex;
     align-items: center;
     gap: 8px;
     color:#777777;
     justify-content: flex-end;
     font-size: 1.2rem;
}
 