*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    display: flex;
    justify-content: center;
    /*outline: blue solid;*/
    /*padding: 20px;*/
    color: #d79721;
}

.ArticleContainer{
    width: 930px;
   background-color: #383838;
   padding: 40px 30px;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   gap: 20px;
   /*gap: 60px;*/
}

.Top{
color: #777777;
display: flex;
flex-direction: column;
align-items: end;
gap: 10px;
}


.belowTop{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.ArticleContainer h1{
    font-size: 4rem;
    color: #d79821;
    line-height: 1.1;
    margin-bottom: px;
}


.tags{
    display: flex;
    gap: 20px;
}
.tags>div{
 background-color: #cc231c; 
    padding: 3px 1rem;
  border-radius: 2px;
  font-size: 1rem;
    color: #c8bb97;;
}

.readTime{
    display: flex;
     align-items: center;
     gap: 8px;
     color:#777777;
     justify-content: flex-end;
     font-size: 1.3rem;
}

.articleContent P{
    color: #d79721;
    font-size: 1.25em;
    font-weight: normal;

}

.articleContent ol{
    padding-left: 2.8rem;
}
.articleContent ol li::marker{
    font-size: 1.2rem;
    color: #d79721;
}

.articleContent ol li{
    font-size: 1.1rem;
    margin-bottom: 10px;
    
}

.articleContent ul{
    padding-left: 2.8rem;
}

.articleContent ul li{
    font-size: 1.25em;
    margin-bottom: 20px;
    color: #d79721;
}
.articleContent ul li::marker{
    font-size: 1.2rem;
    color: #d79721;
}

.articleContent h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
   
}

code.westren{
    background-color: red;
}

.ArticleContainer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    gap: 10px;
    color: #d79721;
    cursor: pointer;
    width: fit-content;
}


.ArticleContainer a:hover{
   color: #689d69; 
}

.numberOfComments{
    margin-top: 20px;
     color: #d79721;
     font-size: 2.3rem;
}

.commentPost{
    background-color: #5a5959;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.commentPost:hover{
    background-color: #777777;

}

.commentsContainer{
    color: #da930f;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    padding-left: 40px;
}

 
 
.commentHead{
margin-bottom: 8px;
}



 