*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    display: flex;
    justify-content: center;
}

.ArticleContainer{
   background-color: #383838;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   gap: 20px;
   color: #d79721;
}

.Top{
color: #777777;
display: flex;
flex-direction: column;
align-items: end;
gap: 10px;
}


.belowTop{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.ArticleContainer h1{
    font-size: 4rem;
    line-height: 1.1;
}


.tags{
    display: flex;
    gap: 20px;
}
.tags>div{
 background-color: #cc231c; 
    padding: 3px 1rem;
  border-radius: 2px;
  font-size: 1rem;
    color: #c8bb97;;
}

.readTime{
    display: flex;
     align-items: center;
     gap: 8px;
     color:#777777;
     justify-content: flex-end;
     font-size: 1.3rem;
}
.goBack{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}

.goBack:hover{
   color: #689d69; 
}



.numberOfComments{
    margin-top: 20px;
     font-size: 2.3rem;
}

.commentPost{
    background-color: #5a5959;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.commentPost:hover{
    background-color: #777777;
}

.commentsContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    padding-left: 40px;
}

 
.commentHead{
margin-bottom: 8px;
}

 



 