*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    
     
}
body{
     background-color: #2c2c2c;
     color: #c8bb97;
}
.pageContainer{
    display: flex;
    gap: 40px;
    padding: 65px;
 
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    outline: red solid;
}

.rightSide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
}
