*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
    color: #c8bb97;
    font-family: 'Ubuntu';
}

.pageContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 30px;
}

.leftSide{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
    min-height: 90vh;
    outline: rgb(140, 0, 255) solid;
    flex: 1;
    flex-shrink: 0;
    min-width: 0;
}

.rightSide{
    flex-shrink: 1;
    width: 450px;
    min-width: 100px;
    outline: red solid;
}
