/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: #2c2c2c;
     color: #c8bb97;
    font-family: 'Ubuntu';
}
.pageContainer{
    display: flex;
    gap: 40px;
    padding: 65px;
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    gap: 20px;
}*/

body{
    background-color: #2c2c2c;
    color: #c8bb97;
    font-family: 'Ubuntu';
}

.pageContainer{
    display: flex;
}

.leftSide{
    display: flex;
    flex-direction: column;
}

.rightSide{
    
}
