*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    
     
}
body{
     background-color: #2c2c2c;
     color: #c8bb97;
}
.pageContainer{
    display: flex;
    justify-content: space-between;
    outline: blue solid;
}

.leftSide{
    display: flex;
    flex-direction: column;
}
